<%- include("partials/header.ejs") %>
<section id="center-div">
    <div id="main-container">
        <h1>Contact Me</h1>
        <div id="content-container">   
            <form id="form-input">
            <input name="name" type="text" placeholder="Name" />
            <input name="email" type="text" placeholder="Email" />
            <textarea name="text" id="blog-input" placeholder="Comment"></textarea>
            <input type="submit" value="SUBMIT" />
            </form>
        </div>
    </div>
</section>


<%- include("partials/footer.ejs") %>