body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1rem;
}

#headerSection, #footerSection{
    background: #4e54c8; 
    opacity: 0.9;
    background: linear-gradient(114deg, #404490, #2831e6);
    background-size: 400% 400%;

    -webkit-animation: AnimationBG 12s ease infinite;
    -moz-animation: AnimationBG 12s ease infinite;
    animation: AnimationBG 12s ease infinite;
}


@-webkit-keyframes AnimationBG {
    0%{background-position:0% 37%}
    50%{background-position:100% 64%}
    100%{background-position:0% 37%}
}
@-moz-keyframes AnimationBG {
    0%{background-position:0% 37%}
    50%{background-position:100% 64%}
    100%{background-position:0% 37%}
}
@keyframes AnimationBG {
    0%{background-position:0% 37%}
    50%{background-position:100% 64%}
    100%{background-position:0% 37%}
}

#footer, .nav-link{
    color: #fff;
} 

.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#footerSection{
    margin-top: auto;
    position: relative;
}

#main-container{
    display: flex;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10rem 0 10rem;
    min-height: calc(100vh - 117px); /*height calculated by subtaracting the header and footer height */
}

#content-container{
    height: 70vh;
    width:90%;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#blog-container{
    height: 70vh;
    width: 79%;
    display: flex;
    flex-direction: column;
    overflow:auto;
    scrollbar-width: thin;
    scrollbar-color: #4e54c8 #fff;
}

.output-btn{
    justify-self: center;
    align-self: end;
}

.title-output{
    margin-top:15px; height: 30px; width:fit-content; border: 0; font-weight: bold; font-size: 1.5rem;
}

.content-output{
    margin-top:5px; height: 150px; overflow: auto; width:100%; grid-column: span 3;
    scrollbar-width: thin;
    scrollbar-color: #fff #4e54c8;
}

.output-form{
    display: grid; grid-template-columns: auto 1fr 1fr;
}

.textbox{
    border-radius: 0.4rem;
}

#form-input{
    margin-top: 1rem;
    width: 70%;
    display: flex; 
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
}

#redirect-link{
    color: #404490;
    text-decoration: none;
}

#redirect-link:hover, #redirect-link:focus{
    color: black;
}

#blog-input{
    height: 90%;
    resize: none;
}

.button{
    border: 2px solid #4e54c8;
    border-radius: 0.4rem;
    color: #4e54c8;
    background-color: transparent;
}

#submit-btn{
    width:50%;
    align-self: center;   
}

.profile {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
  }

#submit-btn:focus, #submit-btn:hover{
    background-color: #4e54c8;
    color: #fff;
}


.logo{
    font-size: 1.25rem;
    color:#fff;
}

.logo:hover, .nav-link:hover, .logo:focus, .nav-link:focus{
    color: black;
}

.navbar .nav-item{
    padding: 0px 1% 0px 1%;
}

.circles{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-500px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media (max-width: 1100px) {
    #main-container{
        display: flex;   
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 2rem 0 2rem;
    }
    #blog-container{
        width: 95%;
    }
    #content-container{
        width: 100%;
    }
}
